/* line 1017, ../sass/custom.scss */
#map-btn1-div {
  background: #555;
  margin-top: 60px;
  width: 100%;
}

/* line 213, ../sass/custom.scss */
a.gmaps-btn {
  transition: all 0.7s;
  color: #fff;
  cursor: pointer;
  height: auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

/* line 224, ../sass/custom.scss */
a.gmaps-btn:focus {
  outline: 0;
}

/* line 228, ../sass/custom.scss */
a.gmaps-btn.btn-show {
  display: block;
}

/* line 232, ../sass/custom.scss */
a.gmaps-btn.btn-hide {
  display: none;
}

/* line 987, ../sass/custom.scss */
#maps {
  transition: all 0.7s;
  overflow: hidden;
  position: relative;
}

/* line 993, ../sass/custom.scss */
#maps #google-maps {
  transition: all 0.7s;
  bottom: 0;
  display: block;
  height: 500px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* line 1005, ../sass/custom.scss */
.close-maps {
  height: 0;
}

/* line 1008, ../sass/custom.scss */
.close-maps #google-maps {
  opacity: 0;
}

/* line 1013, ../sass/custom.scss */
.open-maps {
  height: 500px;
}

/* line 1022, ../sass/custom.scss */
.close-maps-button {
  opacity: 1;
  padding: 10px;
}