<!DOCTYPE html>
<html lang="pl">
<head>
  <!-- Page title -->
  <title>Centrum Odrodzenia Feniks - Strona główna</title>
  <!--/ Page title -->

  <!-- Standard meta. -->
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu.">
  <meta name="keywords"
        content="centrum odrodzenia feniks, centrum odrodzenia, centrum odrodzenia głubczyce, feniks głubczyce">
  <meta name="author" content="Centrum Odrodzenia Feniks">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--/ Standard meta. -->

  <!-- Facebook meta. -->
  <meta property="og:url" content="https://centrumodrodzenia.pl"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Centrum Odrodzenia Feniks"/>
  <meta property="og:description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu."/>
  <meta property="og:image" content="https://centrumodrodzenia.pl/logo.png"/>
  <!--/ Facebook meta. -->
</head>
<body>
<!-- Banner. -->
<div class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="text-border">
            <h2 class="text-dec">Jakość & Zaufanie</h2>
          </div>
          <div class="intro-para text-center quote">
            <p class="big-text">Nasze centrum... Twoje odrodzenie</p>
            <p class="small-text">Centrum Odrodzenia Feniks w Głubczycach zaprasza na naturalne terapie bazujące na
              naturalnych metodach<br>Biorezonans gwarantuje naturalne odnowienie.</p>
            <a href="" ng-click="loadContact()" class="btn">Umów wizytę</a>
          </div>
          <a href="#features" class="mouse-hover" ng-click="scrollTo('#features')">
            <div class="mouse"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Banner. -->

<!-- Features. -->
<section id="features" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Podejście</h2>
        <p>Człowiek jako naturalna istota powinna również być leczona naturalnymi metodami<br>Bez chemii w postaci
          tabletek
          i syropów</p>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Natura</h4>
              <p>Choroby wynikają z naturalnego osłabienia człowieka. My leczymy naturalnie, od stóp do głów, wzdłuż i
                wszerz, Ciebie całego.</p>
            </div>
            <div class="fea-img pull-left"><i class="fa fa-leaf"></i></div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Regeneracja</h4>
              <p>Regeneruj się bez czasochłonnych i drogich antybiotyków. Postaw na sprawdzony naukowo i akceptowalny
                przez organizm biorezonans.</p>
            </div>
            <div class="fea-img pull-left"><i class="fa fa-spin fa-refresh"></i></div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Odrodzenie</h4>
              <p>Ciesz się naturalnymi witalnymi siłami już od czwartej terapii. U nas odrodzisz się naturalnie, lepiej
                niż feniks z popiołu.</p>
            </div>
            <div class="fea-img pull-left"><i class="fa fa-heart"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Features. -->

<!-- Organisations. -->
<section id="organisations" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-xs-4">
          <div class="orga-stru">
            <h3>72%</h3>
            <p>Odpowiada nie</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="orga-stru">
            <h3>16%</h3>
            <p>Odpowiada tak</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="orga-stru">
            <h3>12%</h3>
            <p>Nie potrafi określić</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-info">
          <hgroup>
            <h3 class="det-txt">Czy jesteś usatysfakcjonowany leczeniem z apteki?</h3>
            <h4 class="sm-txt">(Nasze wewnętrzne badanie z <span class="year"></span> roku)</h4>
          </hgroup>
          <p class="det-p">Potwierdzją to zarówno nasze badania, jak i innych instytucji oraz organizacji.<br>Społeczeństwo
            jest coraz bardziej świadome naturalnego leczenie, jakie potrzebuje ich organizm, coraz częściej decydują
            się porzucić "aptekarskie" metody na rzeczy tych naturalnych.<br>Wynikiem takich badań nie jest również
            zaskoczenie, że długotrwałe pozytywne efekty dla organizmu są bardziej zauważalne dla naturalnych metod.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Organisations. -->

<!-- Testimonial. -->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="white">Opinie Klientów</h2>
        <p class="white">Mamy wielu zadowolonych Klientów, którzy już zaczęli leczyć sięnaturalnie.Wybierzesz aptekę czy
          naturę</p>
        <hr class="bottom-line bg-white">
      </div>
      <div class="col-sm-6">
        <div class="text-comment">
          <div class="text-par">Pan Mateusz jest prawdziwym fachowcem, bardzo lubię odwiedzać jego gabinet w
            Głubczycach, po każdej terapii czuję się jako nowo narodzony.
          </div>
          <div class="text-name">Marcin - Kierowca</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-comment">
          <div class="text-par">Uwielbiam terapie w Centrum Odrodzenia Feniks, wreszcie po odstawieniu tabletek poczułam
            prawdziwe siły witalne, aż chce się żyć!
          </div>
          <div class="text-name">Agnieszka - Biegaczka</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonial. -->

<!-- CTA. -->
<section id="cta-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Skontaktuj się z nami</h2>
        <p class="cta-2-txt">Nie masz teraz czasu? Zostaw numer, oddzwonimy.</p>
        <div class="cta-2-form text-center">
          <form action="#" method="post" id="contact-form">
            <!--<input type="text" placeholder="Wpisz swoje imię" name="imię">-->
            <!--<input type="email" placeholder="Wpisz swój adres-email" name="e-mail">-->
            <!--<input type="submit" value="Wyślij" class="cta-2-form-submit-icon">-->
            <!--<h4>lub</h4>-->
            <!--<input type="text" placeholder="Wpisz swoje imię" name="imię">-->
            <input type="tel" placeholder="Wpisz swój numer telefonu" name="telefon">
            <input type="submit" value="Wyślij" class="cta-2-form-submit-btn">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ CTA. -->
</body>
</html>