<!DOCTYPE html>
<html lang="pl">
<head>
  <!-- Page title -->
  <title>Centrum Odrodzenia Feniks - Strona główna</title>
  <!--/ Page title -->

  <!-- Standard meta. -->
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu.">
  <meta name="keywords"
        content="centrum odrodzenia feniks, centrum odrodzenia, centrum odrodzenia głubczyce, feniks głubczyce">
  <meta name="author" content="Centrum Odrodzenia Feniks">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--/ Standard meta. -->

  <!-- Facebook meta. -->
  <meta property="og:url" content="https://centrumodrodzenia.pl"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Centrum Odrodzenia Feniks"/>
  <meta property="og:description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu."/>
  <meta property="og:image" content="https://centrumodrodzenia.pl/images/logo.png"/>
  <!--/ Facebook meta. -->
</head>
<body>
<!-- Banner. -->
<div class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="text-border">
            <img src="images/logo2.png" alt="logo">
          </div>
          <div class="intro-para text-center quote">
            <p class="ć">Nasze centrum... Twoje Odrodzenie</p>
            <p class="small-text">Centrum Odrodzenia Feniks w Głubczycach zaprasza na naturalną odnowę. Zajmujemy się bezinwazyjną<br>i niezwykle precyzyjną diagnostyką oraz bardzo skuteczną terapią wykonywaną za pośrednictwem biorezonansu.</p>
            <a href="" ng-click="loadContact()" class="btn">UMÓW WIZYTĘ</a>
            <br>
            <a href="./karta.pdf" target="_blank" class="small-text"><strong>POBIERZ KARTĘ PACJENTA</strong></a>
          </div>
          <a href="#feature1" class="mouse-hover" ng-click="scrollTo('#feature1')">
            <div class="mouse"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Banner. -->

<!-- Feature 1. -->
<section id="feature1" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-xs-12">
          <h2>Biorezonans</h2>
          <p class="paragraph-padding">
            <strong>Biorezonans magnetyczny jest jedną z najskuteczniejszych i jednocześnie najbezpieczniejszych metod diagnostyczno-terapeutycznych</strong>. Diagnoza polega na porównaniu wzorcowych częstotliwości prawidłowo pracujących narządów z częstotliwością, jaką wykazują narządy pacjenta. Każdy organizm, narząd czy komórka posiada swoje własne spektrum wibracji (lub inaczej mówiąc – istnieje w określonym dla siebie zakresie częstotliwości). Poprzez zbadanie częstotliwości narządów czy komórek za pomocą biorezonansu jesteśmy w stanie zidentyfikować zdrowe i chore komórki oraz procesy zachodzące w organizmie pacjenta. Na przykład serce rezonuje w zakresie częstotliwości 700-800 Hz, który jak określono, wzrasta w przypadku dusznicy bolesnej do poziomu 1500 Hz.
            <br><br>
            <strong>Jeżeli któryś z narządów wykazuje drgania odbiegające od normy, wymaga terapii. Terapia polega na podawaniu częstotliwości idealnie pracującego narządu.</strong>
            <br><br>
            Diagnoza pod kątem obecności pasożytów, wirusów, grzybów czy bakterii polega na sprawdzeniu obecności w organizmie pacjenta charakterystycznych dla nich drgań. Terapia w tym przypadku opiera się na podaniu odwrotnych (inwertowanych) częstotliwości, co powoduje wygaszenie drgań patogenów i prowadzi do ich eliminacji.
            <br><br>
            <strong>Zarówno diagnoza, jak i terapia nie powodują bólu oraz skutków ubocznych.</strong>
            <br><br>
            <strong>UWAGA!</strong>
            <em>Przeciwskazaniem do przeprowadzenia badania oraz leczenia za pośrednictwem biorezonansu jest rozrusznik serca.</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Feature 1. -->

<!-- Feature 2. -->
<section id="feature2" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-xs-12">
          <h2>Sensitiv Imago 530</h2>
          <p class="paragraph-padding">
            <strong>Diagnozujemy za pomocą najnowszego urządzenia Sensitiv Imago 530CE</strong>. Sensitiv Imago 530CE jest urządzeniem medycznym klasy 2a, działającym na zasadzie biorezonansu. Potrafi osiągnąć próg <strong>96% wiarygodności przy stawianiu diagnozy</strong>, co czyni je najlepszym pod względem precyzyjności urządzeniem biorezonansowym na rynku. Dzięki dokładnej i wczesnej diagnostyce można otrzymać odpowiedni, indywidualnie dopasowany sposób leczenia oraz uniknąć rozwijających się chorób.
            <br><br>
            <strong>Diagnoza za pośrednictwem urządzenia Sensitiv Imago 530CE zajmuje od 40min do 1h</strong>, w zależności od stanu pacjenta. Interpretacja ogólna (tj. na obecność pasożytów, bakterii, grzybów, wirusów oraz aktualnych stanów patologicznych narządów) wykonywana jest podczas pierwszej wizyty. Interpretacja szczegółowa (zawierająca dodatkowo omówienie procesów utajonych, przewlekłych, diagnozę powikłań na następny rok oraz na kolejne 5 lat, obciążenia spożywcze, antropogeniczne, zanieczyszczenia obciążające organizm, składniki krwi oraz mikroelementy dążące do nadmiaru lub niedoboru, wskazania dietetyczne, dobranie litoterapii) wykonywana jest do 72h.
            <br><br>
            Wykonanie poprawnej diagnozy wymaga wskazania objawów z okresu ostatnich dwóch miesięcy oraz poinformowania o usuniętych narządach. Informacje należy nanieść na kartę pacjenta dostępną <a href="./karta.pdf" target="_blank" alt="Karta pacjenta">tutaj</a>.
            <br><br>
            <strong>UWAGA!</strong>
            <em>Przeciwwskazaniem do diagnozy i terapii za pośrednictwem urządzenia Sensitiv Imago 530CE jest rozrusznik serca oraz epilepsja.</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Feature 2. -->

<!-- Feature 3. -->
<section id="feature3" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-xs-12">
          <h2>BICOM 2000</h2>
          <p class="paragraph-padding">
            <strong>Terapię wykonujemy na urządzeniach BICOM</strong> należących do jednych z najskuteczniejszych narzędzi diagnostyczno-terapeutycznych, zaklasyfikowanych do grupy urządzeń medycznych klasy 2a. <strong>Aparat pozwala na eliminację wielu rodzajów pasożytów czy też bakterii lub innych patogenów jednocześnie</strong>. Terapia obejmująca wzmacnianie narządów oraz eliminację patogenów zajmuje <strong>od 30 min do 1h, niezależnie od ilości patogenów</strong>. W znacznej większości przypadków <strong>skutki terapii są odczuwane już na drugi dzień</strong>. Całkowita eliminacja schorzeń czy drobnoustrojów z organizmu wymaga powtórzenia terapii przeważnie około 2-6 razy w tygodniowych odstępach. <strong>Terapii mogą być poddawani zarówno dorośli, jak i dzieci</strong>. Leczenie biorezonansem nie wiąże się z przerwą w klasycznym leczeniu oraz nie wpływa na wchłanianie leków.
          </p>
          <hr class="bottom-line">
          <img src="images/bicom.jpg" alt="bicom" class="img-reponsive center-block bicom-photo">
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Feature 3. -->
</body>
</html>