<!DOCTYPE html>
<html lang="pl" ng-app="myApp">
<head>
  <!-- Page title -->
  <title>Centrum Odrodzenia Feniks - Strona główna</title>
  <!--/ Page title -->

  <!-- Standard meta. -->
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu.">
  <meta name="keywords"
        content="centrum odrodzenia feniks, centrum odrodzenia, centrum odrodzenia głubczyce, feniks głubczyce">
  <meta name="author" content="Centrum Odrodzenia Feniks">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--/ Standard meta. -->

  <!-- Facebook meta. -->
  <meta property="og:url" content="https://centrumodrodzenia.pl"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Centrum Odrodzenia Feniks"/>
  <meta property="og:description"
        content="Centrum Odrodzenia Feniks prowadzi terapię pozwalającą odzyskać Ci siły witalne poprzez użycie metod biorezonansu."/>
  <meta property="og:image" content="https://centrumodrodzenia.pl/logo.png"/>
  <!--/ Facebook meta. -->

  <!-- Stylesheeets CDN. -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
  <!--/ Stylesheeets CDN. -->

  <!-- Stylesheets local. -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--/ Stylesheets local. -->
</head>
<body ng-controller="HeaderController">
<!-- Navigation bar. -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="loadHome()" href="" class="navbar-brand">Centrum<span>odrodzenia</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="navClass('/')"><a href="" ng-click="loadHome()">Strona główna</a></li>
        <li ng-class="navClass('uslugi')"><a href="" ng-click="loadServices()">Usługi</a></li>
        <li ng-class="navClass('o-nas')"><a href="" ng-click="loadAbout()">O nas</a></li>
        <li ng-class="navClass('cennik')"><a href="" ng-click="loadPricing()">Cennik</a></li>
        <li ng-class="navClass('kontakt')"><a href="" ng-click="loadContact()">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar. -->

<!-- Angular tag for content. -->
<div ng-view></div>

<!-- Footer. -->
<footer>
  <div class="container text-center">
    <ul class="social-link">
      <li><a href="https://www.facebook.com/Centrum-Odrodzenia-Feniks-1290742727675203/" title="Znajdź nas na Facebook" target="_blank"><i
        class="fa fa-facebook fa-fw"></i></a></li>
    </ul>
    <p>&copy; <span class="year"></span> Centrum Odrodzenia Feniks</p>
    <!-- TODO: Uncomment on release. -->
    <!--<p>Stworzone przez <a href="http://ditectrev.com" title="Ditectrev. Websites that make difference." target="_blank">Ditectrev</a></p>-->
  </div>
</footer>
<!--/ Footer. -->

<!-- JavaScript CDN. -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.1/angular-google-maps.min.js"></script>
<!--/ JavaScript CDN. -->

<!-- Google Maps initialization. -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgak4bu3Ppg2MGxaoi56ymcUrfiWQXM3A"></script>
<!--/ Google Maps initialization. -->

<!-- JavaScript local. -->
<script src="js/ng-map.min.js"></script>
<script src="js/main.js"></script>
<!--<script src="js/contact.js"></script>-->
<!--/ JavaScript local. -->
</body>
</html>